# SPDX-FileCopyrightText: 2024, 2025 SURF B.V.
# SPDX-License-Identifier: EPL-2.0
# SPDX-FileContributor: Jelmer de Ronde
# SPDX-FileContributor: Joost Diepenmaat
# SPDX-FileContributor: Remco van 't Veer

*.jar
/.clj-kondo/
/.cpcache/
/.envrc
/bin/
/lib/
/observations.edn
/report.html
/share/
/src/nl/surf/eduhub_validator/version.txt
/target/
/usage.txt.generated
eduhub-validator*
/generated
