# SPDX-FileCopyrightText: 2024, 2025, 2026 SURF B.V.
#
# SPDX-License-Identifier: EPL-2.0 WITH Classpath-exception-2.0

*.jar
/.clj-kondo/
/.cpcache/
/.envrc
/bin/
/lib/
/observations.edn
/report.html
/share/
/src/nl/surf/eduhub_validator/version.txt
/target/
/usage.txt.generated
eduhub-validator*
.lsp/
