{:paths   ["profiles"]
 :deps    {nl.surf/apie {:git/url "https://github.com/SURFnet/apie.git"
                         :git/sha "542dde9e16956fd8043763fc32e487536b30fdf4"}}
 :aliases {:test      {:extra-deps {lambdaisland/kaocha {:mvn/version "RELEASE"}}
                       :main-opts  ["-m" "kaocha.runner"]}
           :clj-kondo {:replace-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
                       :main-opts    ["-m" "clj-kondo.main"]}
           :outdated  {:replace-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                       :main-opts    ["-m" "antq.core"]}}}
