{:paths   ["generated/resources" "profiles" "src"]
 :deps    {nl.surf/apie {:git/url "https://github.com/SURFnet/apie.git"
                         :git/tag "v0.2.6"
                         :git/sha "7ffc445179ef74e4c0e191afa6520fbb759b2253"}}
 :aliases {:test      {:extra-deps {lambdaisland/kaocha {:mvn/version "RELEASE"}}
                       :main-opts  ["-m" "kaocha.runner"]}
           :clj-kondo {:replace-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
                       :main-opts    ["-m" "clj-kondo.main"]}
           :outdated  {:replace-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                       :main-opts    ["-m" "antq.core"]}}}
