{:paths   ["profiles" "src"]
 :deps    {nl.surf/apie {:git/url "https://github.com/SURFnet/apie.git"
                         :git/tag "v0.2.2"
                         :git/sha "1eca4012ef7990ade4d5d3f22731f7d4c6677d7c"}}
 :aliases {:test      {:extra-deps {lambdaisland/kaocha {:mvn/version "RELEASE"}}
                       :main-opts  ["-m" "kaocha.runner"]}
           :clj-kondo {:replace-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
                       :main-opts    ["-m" "clj-kondo.main"]}
           :outdated  {:replace-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                       :main-opts    ["-m" "antq.core"]}}}
