{
  "openapi": "3.1.1",
  "info": {
    "version": "5.0.0",
    "title": "Open Education API",
    "description": "OpenAPI (fka Swagger) specification for the Open Education API.\n\n<figure>\n\t<a target=\"_blank\" href=\"OOAPIv5_model.png\">\n  <img src=\"OOAPIv5_model.png\" alt=\"OOAPI information model that feeds OOAPI specification\" width=\"70%\" class=\"img-responsive\">\n  </a>\n  <figcaption> OOAPI information model that feeds OOAPI specification (click to enlage)</figcaption>\n</figure>\n\nThe model provides an overview of how the objects on which the API is specified are related. The overarching concept educations is not found in the in the end points of the API. The smaller concepts of programOffering, courseOffering and conceptOffering are all found in the offering endpoint. The different types of association can all be found in the association endpoint.\n\nThe original file for this model can be found <a target=\"_blank\" href=\"OOAPIv5_model_v0.5.drawio\">here</a>\n\nThe program relations object is not found as a separate endpoint but relations between programs can be found within the program endpoint by expanding that endpoint.\n\nInformation about earlier meetings and presentations can be found <a target=\"_blank\" href=\"https://github.com/open-education-api/notulen\">here</a>\n\nInformation on the EDU-API model that was also used for this api is shown <a target=\"_blank\" href=\"eduapi.png\">here</a>\n",
    "x-logo": {
      "url": "../logo.png"
    }
  },
  "servers": [
    {
      "url": "http://demo01.eduapi.nl/v5",
      "description": "SURF demo implementation"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "parameters": [],
        "summary": "GET /",
        "description": "Get metadata for the service.",
        "tags": [
          "service metadata"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Service"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ErrorForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ErrorNotFound"
          },
          "405": {
            "$ref": "#/components/responses/ErrorMethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/ErrorTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServerError"
          }
        }
      }
    },
    "/organizations": {
      "get": {
        "summary": "GET /organizations",
        "description": "Get an ordered list of all organizations, ordered by name.",
        "tags": [
          "organizations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/primaryCode"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/pageNumber"
          },
          {
            "$ref": "#/components/parameters/consumer"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "organizationType",
            "in": "query",
            "description": "Filter by organization type",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/organizationType"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "explode": false,
            "description": "Sort by one or more attributes, the default is ascending. Prefixing the attribute with a minus sign `-` allows for descending sort. Examples: [ATTR | -ATTR | ATTR1,-ATTR2]",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "organizationId",
                  "name",
                  "-organizationId",
                  "-name"
                ]
              },
              "default": [
                "name"
              ],
              "example": [
                "name",
                "-organizationId"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    {
                      "type": "object",
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Organization"
                          }
                        },
                        "ext": {
                          "$ref": "#/components/schemas/Ext"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ErrorForbidden"
          },
          "405": {
            "$ref": "#/components/responses/ErrorMethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/ErrorTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServerError"
          }
        }
      }
    },
    "/programs": {
      "get": {
        "summary": "GET /programs",
        "description": "Get an ordered list of all programs, ordered by name.",
        "tags": [
          "programs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/primaryCode"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/pageNumber"
          },
          {
            "$ref": "#/components/parameters/consumer"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/teachingLanguage"
          },
          {
            "name": "programType",
            "in": "query",
            "description": "Filter by program type",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/programType"
            }
          },
          {
            "name": "qualificationAwarded",
            "in": "query",
            "description": "Filter by qualificationAwarded",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/qualificationAwarded"
            }
          },
          {
            "name": "levelOfQualification",
            "in": "query",
            "description": "Filter by levelOfQualification",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/levelOfQualification"
            }
          },
          {
            "name": "sector",
            "in": "query",
            "description": "Filter by sector",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/sector"
            }
          },
          {
            "name": "fieldsOfStudy",
            "in": "query",
            "description": "Filter by fieldsOfStudy",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "explode": false,
            "description": "Sort by one or more attributes, the default is ascending. Prefixing the attribute with a minus sign `-` allows for descending sort. Examples: [ATTR | -ATTR | ATTR1,-ATTR2]",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "programId",
                  "name",
                  "-programId",
                  "-name"
                ]
              },
              "default": [
                "name"
              ],
              "example": [
                "name",
                "programId"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    {
                      "type": "object",
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Program"
                          }
                        },
                        "ext": {
                          "$ref": "#/components/schemas/Ext"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ErrorForbidden"
          },
          "405": {
            "$ref": "#/components/responses/ErrorMethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/ErrorTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServerError"
          }
        }
      }
    },
    "/programs/{programId}": {
      "get": {
        "summary": "GET /programs/{programId}",
        "description": "Get a single program.",
        "tags": [
          "programs"
        ],
        "parameters": [
          {
            "name": "programId",
            "in": "path",
            "description": "Program ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "explode": false,
            "description": "Optional properties to include, separated by a comma",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "parent",
                  "children",
                  "coordinators",
                  "organization",
                  "educationSpecification"
                ]
              }
            }
          },
          {
            "$ref": "#/components/parameters/returnTimelineOverrides"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramExpanded"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ErrorForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ErrorNotFound"
          },
          "405": {
            "$ref": "#/components/responses/ErrorMethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/ErrorTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServerError"
          }
        }
      }
    },
    "/programs/{programId}/courses": {
      "get": {
        "summary": "GET /programs/{programId}/courses",
        "description": "Get an ordered list of all courses given through this program.",
        "tags": [
          "programs"
        ],
        "parameters": [
          {
            "name": "programId",
            "in": "path",
            "description": "Program ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/pageNumber"
          },
          {
            "$ref": "#/components/parameters/consumer"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/teachingLanguage"
          },
          {
            "name": "level",
            "in": "query",
            "description": "Filter by level",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/level"
            }
          },
          {
            "name": "modeOfDelivery",
            "in": "query",
            "description": "Filter by modeOfDelivery",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/modesOfDelivery"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "explode": false,
            "description": "Sort by one or more attributes, the default is ascending. Prefixing the attribute with a minus sign `-` allows for descending sort. Examples: [ATTR | -ATTR | ATTR1,-ATTR2]",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "courseId",
                  "name",
                  "-courseId",
                  "-name"
                ]
              },
              "default": [
                "courseId"
              ],
              "example": [
                "name",
                "-courseId"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    {
                      "type": "object",
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Course"
                          }
                        },
                        "ext": {
                          "$ref": "#/components/schemas/Ext"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ErrorForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ErrorNotFound"
          },
          "405": {
            "$ref": "#/components/responses/ErrorMethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/ErrorTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServerError"
          }
        }
      }
    },
    "/programs/{programId}/offerings": {
      "get": {
        "summary": "GET /programs/{programId}/offerings",
        "description": "Get a list of all offerings for this program, ordered chronologically.",
        "tags": [
          "programs"
        ],
        "parameters": [
          {
            "name": "programId",
            "in": "path",
            "description": "Program ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/pageNumber"
          },
          {
            "$ref": "#/components/parameters/consumer"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/teachingLanguage"
          },
          {
            "name": "modeOfStudy",
            "in": "query",
            "description": "Filter by modeOfStudy",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/modeOfStudy"
            }
          },
          {
            "name": "resultExpected",
            "in": "query",
            "description": "Filter by resultExpected",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "Filter all offerings by providing a minimum start date for the corresponding academic session, RFC3339 (full-date). By default only future offerings are shown (equal to `?since=<today>`).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "Filter all offerings by providing a maximum end date for the corresponding academic session, RFC3339 (full-date).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "explode": false,
            "description": "Sort by one or more attributes, the default is ascending. Prefixing the attribute with a minus sign `-` allows for descending sort. Examples: [ATTR | -ATTR | ATTR1,-ATTR2]",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "offeringId",
                  "name",
                  "startDate",
                  "endDate",
                  "-offeringId",
                  "-name",
                  "-startDate",
                  "-endDate"
                ]
              },
              "default": [
                "startDate"
              ],
              "example": [
                "name",
                "-startDate"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    {
                      "type": "object",
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ProgramOffering"
                          }
                        },
                        "ext": {
                          "$ref": "#/components/schemas/Ext"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ErrorForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ErrorNotFound"
          },
          "405": {
            "$ref": "#/components/responses/ErrorMethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/ErrorTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServerError"
          }
        }
      }
    },
    "/courses": {
      "get": {
        "summary": "GET /courses",
        "description": "Get a list of all courses, ordered by name (ascending).",
        "tags": [
          "courses"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/primaryCode"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/pageNumber"
          },
          {
            "$ref": "#/components/parameters/consumer"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/teachingLanguage"
          },
          {
            "name": "level",
            "in": "query",
            "description": "Filter by level",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/level"
            }
          },
          {
            "name": "modeOfDelivery",
            "in": "query",
            "description": "Filter by modeOfDelivery",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/modesOfDelivery"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "explode": false,
            "description": "Sort by one or more attributes, the default is ascending. Prefixing the attribute with a minus sign `-` allows for descending sort. Examples: [ATTR | -ATTR | ATTR1,-ATTR2]",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "courseId",
                  "name",
                  "-courseId",
                  "-name"
                ]
              },
              "default": [
                "name"
              ],
              "example": [
                "name",
                "-courseId"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    {
                      "type": "object",
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Course"
                          }
                        },
                        "ext": {
                          "$ref": "#/components/schemas/Ext"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ErrorForbidden"
          },
          "405": {
            "$ref": "#/components/responses/ErrorMethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/ErrorTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServerError"
          }
        }
      }
    },
    "/courses/{courseId}": {
      "get": {
        "summary": "GET /courses/{courseId}",
        "description": "Get a single course.",
        "tags": [
          "courses"
        ],
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "description": "Course ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "explode": false,
            "description": "Optional properties to include, separated by a comma",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "programs",
                  "coordinators",
                  "organization",
                  "educationSpecification"
                ]
              }
            }
          },
          {
            "$ref": "#/components/parameters/returnTimelineOverrides"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseExpanded"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ErrorForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ErrorNotFound"
          },
          "405": {
            "$ref": "#/components/responses/ErrorMethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/ErrorTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServerError"
          }
        }
      }
    },
    "/courses/{courseId}/offerings": {
      "get": {
        "summary": "GET /courses/{courseId}/offerings",
        "description": "Get a list of all offerings for this course, ordered chronologically.",
        "tags": [
          "courses"
        ],
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "description": "Course ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/pageNumber"
          },
          {
            "$ref": "#/components/parameters/consumer"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/teachingLanguage"
          },
          {
            "name": "modeOfDelivery",
            "in": "query",
            "description": "Filter by modeOfDelivery",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/modesOfDelivery"
            }
          },
          {
            "name": "resultExpected",
            "in": "query",
            "description": "Filter by resultExpected",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "Filter all offerings by providing a minimum start date for the corresponding academic session, RFC3339 (full-date). By default only future offerings are shown (equal to `?since=<today>`).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "Filter all offerings by providing a maximum end date for the corresponding academic session, RFC3339 (full-date).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "explode": false,
            "description": "Sort by one or more attributes, the default is ascending. Prefixing the attribute with a minus sign `-` allows for descending sort. Examples: [ATTR | -ATTR | ATTR1,-ATTR2]",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "offeringId",
                  "name",
                  "startDate",
                  "endDate",
                  "-offeringId",
                  "-name",
                  "-startDate",
                  "-endDate"
                ]
              },
              "default": [
                "startDate"
              ],
              "example": [
                "offeringId",
                "-endDate"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    {
                      "type": "object",
                      "required": [
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CourseOffering"
                          }
                        },
                        "ext": {
                          "$ref": "#/components/schemas/Ext"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ErrorForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ErrorNotFound"
          },
          "405": {
            "$ref": "#/components/responses/ErrorMethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/ErrorTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServerError"
          }
        }
      }
    },
    "/offerings/{offeringId}": {
      "get": {
        "summary": "GET /offerings/{offeringId}",
        "description": "Get a single offering.",
        "tags": [
          "offerings"
        ],
        "parameters": [
          {
            "name": "offeringId",
            "in": "path",
            "description": "Offering ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "explode": false,
            "description": "Optional properties to expand, separated by a comma",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "program",
                  "programOffering",
                  "course",
                  "courseOffering",
                  "component",
                  "organization",
                  "academicSession"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/CourseOffering",
                      "title": "courseOffering"
                    },
                    {
                      "$ref": "#/components/schemas/ProgramOffering",
                      "title": "programOffering"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ErrorForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ErrorNotFound"
          },
          "405": {
            "$ref": "#/components/responses/ErrorMethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/ErrorTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "openId": {
        "type": "openIdConnect",
        "openIdConnectUrl": "https://example.nl/.well-known/openid-configuration"
      }
    },
    "schemas": {
      "Consumer": {
        "type": "object",
        "description": "Object for communicating data to a specific consumer (destination). This object has no relationship with the `consumer` query parameter.",
        "required": [
          "consumerKey"
        ],
        "properties": {
          "consumerKey": {
            "description": "The key of the consumer (destination) for which this information is intended. See the [consumer registry](https://openonderwijsapi.nl/#/technical/consumers-and-profiles/) for more information.",
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "Ext": {
        "type": "object",
        "description": "Object for additional non-standard attributes"
      },
      "Service": {
        "type": "object",
        "description": "A metadataset providing details on the provider of this OOAPI implementation",
        "required": [
          "contactEmail",
          "specification",
          "documentation"
        ],
        "properties": {
          "contactEmail": {
            "type": "string",
            "description": "Contact e-mail address of the service owner",
            "format": "email",
            "maxLength": 256,
            "example": "admin@universiteitvanharderwijk.nl"
          },
          "specification": {
            "type": "string",
            "description": "URL of the API specification (YAML or JSON, compliant with [Open API Specification v3](https://github.com/OAI/OpenAPI-Specification/))",
            "format": "uri",
            "maxLength": 2048,
            "example": "https://rawgit.com/open-education-api/specification/v3/docs.html#tag/course-offerings/paths/~1course-offerings/get"
          },
          "documentation": {
            "type": "string",
            "description": "URL of the API documentation, including general terms and privacy statement",
            "format": "uri",
            "maxLength": 2048,
            "example": "https://open-education-api.github.io/specification/v4/docs.html"
          },
          "consumers": {
            "description": "The additional consumer elements that can be provided, see the [documentation on support for specific consumers](https://openonderwijsapi.nl/#/technical/consumers-and-profiles/) for more information about this mechanism.",
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/Consumer"
            },
            "example": [
              {
                "consumerKey": "x-test-consumer",
                "additional": "custom",
                "attributes": "here"
              }
            ]
          },
          "ext": {
            "$ref": "#/components/schemas/Ext",
            "type": [
              "object",
              "null"
            ]
          }
        }
      },
      "Problem": {
        "type": "object",
        "description": "A system message including the error code and an explanation",
        "required": [
          "status",
          "title"
        ],
        "properties": {
          "status": {
            "type": "string",
            "description": "The HTTP status code",
            "example": "404"
          },
          "title": {
            "type": "string",
            "description": "A short, human-readable summary of the problem type",
            "example": "Resource not found"
          },
          "detail": {
            "type": "string",
            "description": "A human-readable explanation specific to this occurrence of the problem"
          }
        }
      },
      "organizationType": {
        "type": "string",
        "description": "The type of this organization. Each OOAPI endpoint should have a single organization with type `root`, describing the root organization.\n- root: the root of this organization, representing the Educational Institution itself\n- institute: instituut\n- department: departement\n- faculty: faculteit\n- branch: vestiging\n- academy: academie\n- school: school\n",
        "enum": [
          "root",
          "institute",
          "department",
          "faculty",
          "branch",
          "academy",
          "school"
        ],
        "example": "root"
      },
      "Pagination": {
        "type": "object",
        "required": [
          "pageSize",
          "pageNumber",
          "hasPreviousPage",
          "hasNextPage",
          "items"
        ],
        "properties": {
          "pageSize": {
            "type": "integer",
            "format": "int32",
            "description": "The number of items per page",
            "example": 10
          },
          "pageNumber": {
            "type": "integer",
            "format": "int32",
            "description": "The current page number",
            "example": 1,
            "minimum": 1
          },
          "hasPreviousPage": {
            "type": "boolean",
            "description": "Whether there is a previous page",
            "example": false
          },
          "hasNextPage": {
            "type": "boolean",
            "description": "Whether there is a previous page",
            "example": true
          },
          "totalPages": {
            "type": "integer",
            "format": "int32",
            "description": "Total number of pages",
            "example": 8
          }
        }
      },
      "codeType": {
        "type": "string",
        "description": "The code/identifier type. \n\nThis is an *extensible enumeration*. Use `x-` to prefix custom values\n\nThe predefined values are:\n  - `brin`: The registration number for a Dutch educational institution that is issued by the Dutch Ministry of Education, Culture and Science\n  - `crohoCreboCode`: programs with a CREBO and CROHO number are accredited by the Dutch Ministry of Education, Culture and Science (OCW)\n  - `programCode`: Identifier for the program (collection of courses)\n  - `componentCode`: The code for a component (part of a course)\n  - `offeringCode`: The code to identify a specific offering (program, course or component offering)\n  - `organizationId`: The identifier for the organization\n  - `buildingId`: The number or code to identify a building\n  - `bagId`: The identification of a building as it is known in the Dutch Building Administration (BAG)\n  - `roomCode`: The code for a room\n  - `systemId`: Identifier assigned to an entity in context of a specific system\n  - `productId`: Identifier assigned to a specific product\n  - `nationalIdentityNumber`: Identifier assigned by the governement of the person. e.g. a social security number in the USA\n  - `studentNumber`: Identifier for the student\n  - `studielinkNumber`: Identifier for the person as determined by Studielink\n  - `esi`: European Student Identifier\n  - `userName`: The name of a user\n  - `accountId`: Identifier assigned to a specific account\n  - `emailAdress`: An email address\n  - `groupCode`: The identifier for a group (of persons)\n  - `isbn`: International Standard Book Number that serve as product identifiers for Books\n  - `issn`: International Standard Book Number that serve as product identifiers for periodicals\n  - `orcId`: Open Researcher and Contributor ID\n  - `uuid`: A universally unique identifier\n  - `schacHome`: Home organization using the domain name of the organization\n  - `identifier`: Generic Identifier\n",
        "x-ooapi-extensible-enum": [
          "brin",
          "crohoCreboCode",
          "programCode",
          "componentCode",
          "offeringCode",
          "organizationId",
          "buildingId",
          "bagId",
          "roomCode",
          "systemId",
          "productId",
          "nationalIdentityNumber",
          "studentNumber",
          "studielinkNumber",
          "esi",
          "userName",
          "accountId",
          "emailAdress",
          "groupCode",
          "isbn",
          "issn",
          "orcId",
          "uuid",
          "schacHome",
          "identifier"
        ],
        "example": "identifier"
      },
      "IdentifierEntry": {
        "type": "object",
        "properties": {
          "codeType": {
            "$ref": "#/components/schemas/codeType"
          },
          "code": {
            "description": "Human readable value for the code/identifier",
            "type": "string"
          }
        },
        "required": [
          "codeType",
          "code"
        ],
        "additionalProperties": false,
        "example": {
          "codeType": "identifier",
          "code": "1234qwe12"
        }
      },
      "LanguageTypedString": {
        "type": "object",
        "description": "A String with an associated language code.",
        "properties": {
          "language": {
            "description": "The language used in the described entity. A string formatted according to RFC3066.",
            "type": "string",
            "pattern": "^[a-z]{2,4}(-[A-Z][a-z]{3})?(-([A-Z]{2}|[0-9]{3}))?$"
          },
          "value": {
            "description": "String to describe the entity.",
            "type": "string"
          }
        },
        "example": {
          "language": "en-GB",
          "value": "program that is a place holder for all courses that are made available for student mobility"
        }
      },
      "addressType": {
        "type": "string",
        "description": "Address type\n- postal: post\n- visit: bezoek\n- deliveries: bezorg\n- billing: factuur\n- teaching: the address where education takes place\n",
        "enum": [
          "postal",
          "visit",
          "deliveries",
          "billing",
          "teaching"
        ]
      },
      "Address": {
        "type": "object",
        "description": "The full street address",
        "required": [
          "addressType"
        ],
        "properties": {
          "addressType": {
            "$ref": "#/components/schemas/addressType"
          },
          "street": {
            "type": "string",
            "description": "The street name",
            "example": "Moreelsepark"
          },
          "streetNumber": {
            "type": "string",
            "description": "The street number",
            "example": "48"
          },
          "additional": {
            "type": "array",
            "description": "Further details like building name, suite, apartment number, etc.",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/LanguageTypedString"
            },
            "example": [
              {
                "language": "en-GB",
                "value": "On the other side of the road"
              }
            ]
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code",
            "example": "3511 EP"
          },
          "city": {
            "type": "string",
            "description": "name of the city / locality",
            "example": "Utrecht"
          },
          "countryCode": {
            "type": "string",
            "description": "the country code according to [iso-3166-1-alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)",
            "example": "NL"
          },
          "geolocation": {
            "type": "object",
            "description": "Geolocation of the entrance of this address (WGS84 coordinate reference system)",
            "required": [
              "latitude",
              "longitude"
            ],
            "properties": {
              "latitude": {
                "type": "number",
                "format": "double",
                "example": 52.089123
              },
              "longitude": {
                "type": "number",
                "format": "double",
                "example": 5.113337
              }
            }
          },
          "ext": {
            "$ref": "#/components/schemas/Ext"
          }
        }
      },
      "Identifier": {
        "type": "string",
        "description": "An identifier of another resource.",
        "format": "uuid"
      },
      "Organization": {
        "type": "object",
        "description": "A description of a group of people working together to achieve a goal",
        "required": [
          "organizationId",
          "primaryCode",
          "organizationType",
          "name",
          "shortName"
        ],
        "properties": {
          "organizationId": {
            "type": "string",
            "description": "Unique id of this organization",
            "format": "uuid",
            "example": "123e4567-e89b-12d3-a456-123514174000",
            "readOnly": true
          },
          "primaryCode": {
            "description": "The primary human readable identifier for the organization. This is often the source identifier as defined by the institution.",
            "$ref": "#/components/schemas/IdentifierEntry",
            "example": {
              "codeType": "orgId",
              "code": "Org01-Root"
            },
            "readOnly": true
          },
          "organizationType": {
            "$ref": "#/components/schemas/organizationType"
          },
          "name": {
            "type": "array",
            "description": "The name of the organization",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/LanguageTypedString"
            },
            "example": [
              {
                "language": "nl-NL",
                "value": "Coöperatie SURF U.A."
              }
            ]
          },
          "shortName": {
            "type": "string",
            "description": "Short name of the organization",
            "maxLength": 256,
            "example": "SURF"
          },
          "description": {
            "type": [
              "array",
              "null"
            ],
            "description": "Any general description of the organization should clearly mention the type of higher education organization, especially in the case of a binary system. In Dutch; universiteit (university) or hogeschool (university of applied sciences).",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/LanguageTypedString"
            },
            "example": [
              {
                "language": "nl-NL",
                "value": "SURF is een coöperatieve vereniging van Nederlandse onderwijs- en onderzoeksinstellingen waarin de leden hun krachten bundelen. De leden zijn eigenaar van SURF."
              }
            ]
          },
          "addresses": {
            "type": [
              "array",
              "null"
            ],
            "description": "Addresses of this organization",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "link": {
            "type": [
              "string",
              "null"
            ],
            "description": "URL of the organization's website",
            "format": "uri",
            "maxLength": 2048,
            "example": "https://surf.nl"
          },
          "logo": {
            "type": [
              "string",
              "null"
            ],
            "description": "Logo of this organization",
            "format": "uri",
            "maxLength": 2048,
            "example": "https://www.surf.nl/themes/surf/logo.svg"
          },
          "otherCodes": {
            "type": [
              "array",
              "null"
            ],
            "description": "An array of additional human readable codes/identifiers for the entity being described.",
            "items": {
              "$ref": "#/components/schemas/IdentifierEntry"
            },
            "example": [
              {
                "codeType": "brin",
                "code": "00AA"
              },
              {
                "codeType": "kvk",
                "code": "12345678"
              }
            ]
          },
          "parent": {
            "description": "The organizational unit which is the parent of this organization. [`expandable`](#tag/organization_model)\nBy default only the `organizationId` (a string) is returned. If the client requested an expansion of `organization` the full organization object should be returned.\n",
            "oneOf": [
              {
                "$ref": "#/components/schemas/Identifier",
                "title": "organizationId"
              },
              {
                "$ref": "#/components/schemas/Organization",
                "title": "Organization object"
              },
              {
                "type": "null"
              }
            ]
          },
          "children": {
            "type": [
              "array",
              "null"
            ],
            "description": "All the organizational units for which this organization is the parent. [`expandable`](#tag/organization_model)\nBy default only the `organizationId` (a string) is returned. If the client requested an expansion of `organization` the full organization object should be returned.\n",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Identifier",
                  "title": "organizationId"
                },
                {
                  "$ref": "#/components/schemas/Organization",
                  "title": "Organization object"
                }
              ]
            }
          },
          "consumers": {
            "description": "The additional consumer elements that can be provided, see the [documentation on support for specific consumers](https://openonderwijsapi.nl/#/technical/consumers-and-profiles/) for more information about this mechanism.",
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/Consumer"
            },
            "example": [
              {
                "consumerKey": "x-test-consumer",
                "additional": "custom",
                "attributes": "here"
              }
            ]
          },
          "ext": {
            "$ref": "#/components/schemas/Ext",
            "type": [
              "object",
              "null"
            ]
          }
        }
      },
      "programType": {
        "type": "string",
        "description": "The type of this program\n- program: opleiding\n- minor: minor\n- honours: honours\n- specialization: specialisatie\n- track: track\n",
        "enum": [
          "program",
          "minor",
          "honours",
          "specialization",
          "track"
        ],
        "example": "program"
      },
      "qualificationAwarded": {
        "type": "string",
        "description": "Type of qualificaton that can be obtained on finishing the program",
        "enum": [
          "AD",
          "BA",
          "BSc",
          "LLB",
          "MA",
          "MSc",
          "LLM",
          "Phd",
          "None"
        ],
        "example": "None"
      },
      "levelOfQualification": {
        "type": "string",
        "description": "Level of qualification according to the Dutch National Qualification Framework and the European Qualifications Framework, see [this overview](https://nlqf.nl/images/downloads/English2018/Schematic_overview_NLQF_2020.pdf) for more information.",
        "enum": [
          "1",
          "2",
          "3",
          "4",
          "4+",
          "5",
          "6",
          "7",
          "8"
        ],
        "example": "6"
      },
      "sector": {
        "type": "string",
        "description": "The sector for this program\n- secondary vocational education: middelbaar beroepsonderwijs\n- higher professional education: hoger beroepsonderwijs\n- university education: universitair onderwijs\n",
        "enum": [
          "secondary vocational education",
          "higher professional education",
          "university education"
        ],
        "example": "university education"
      },
      "ProgramId": {
        "type": "object",
        "description": "A collection of courses that lead to a certifiable learning outcome",
        "required": [
          "programId"
        ],
        "properties": {
          "programId": {
            "type": "string",
            "description": "Unique id for this program",
            "format": "uuid",
            "example": "123e4567-e89b-12d3-a456-426614174000",
            "readOnly": true
          }
        }
      },
      "StudyLoadDescriptor": {
        "type": "object",
        "description": "The amount of effort to complete this education in the specified unit.",
        "properties": {
          "studyLoadUnit": {
            "description": "The unit in which the studyload is specfied\n- contacttime: CONTACTUUR\tamount of time spent in classes\n- ects: ECTS_PUNT\tEuropean Credit Transfer System\n- sbu: SBU\tstudentloadhours\n- sp: STUDIEPUNT studentpoints\n- hour: UUR\thours\n",
            "type": "string",
            "enum": [
              "contacttime",
              "ects",
              "sbu",
              "sp",
              "hour"
            ],
            "example": "ects"
          },
          "value": {
            "description": "The amount of load depicted in numbers",
            "type": "number",
            "example": 3
          }
        },
        "example": {
          "studyLoadUnit": "ects",
          "value": 3
        }
      },
      "modeOfStudy": {
        "type": "string",
        "description": "Indicates whether the education is full-time, part-time, dual or self-paced.\n  - full-time: fulltime\n  - part-time: parttime\n  - dual training: duaal\n  - self-paced: eigen tempo\n",
        "enum": [
          "full-time",
          "part-time",
          "dual training",
          "self-paced"
        ]
      },
      "modesOfDelivery": {
        "type": "array",
        "description": "The mode of delivery of the component (ECTS-mode of delivery)\n- distance-learning: afstandsleren\n- on campus: op de campus\n- online: online\n- hybrid: hybride\n- situated: op locatie\n",
        "items": {
          "type": "string",
          "enum": [
            "distance-learning",
            "on campus",
            "online",
            "hybrid",
            "situated"
          ],
          "example": "situated"
        }
      },
      "level": {
        "type": "string",
        "description": "The level of this course (ECTS-year of study if applicable)\n- secondary vocational education: mbo\n- secondary vocational education 1: mbo 1, corresponds to levelOfQualification 1\n- secondary vocational education 2: mbo 2, corresponds to levelOfQualification 2\n- secondary vocational education 3: mbo 3, corresponds to levelOfQualification 3\n- secondary vocational education 4: mbo 4, corresponds to levelOfQualification 4\n- associate degree: associate degree, corresponds to levelOfQualification 5\n- bachelor: bachelor, corresponds to levelOfQualification 6\n- master: master, corresponds to levelOfQualification 7\n- doctoral: doctoraal, corresponds to levelOfQualification 8\n- undefined: onbepaald\n- undivided: ongedeeld\n- nt2-1: NT2 niveau 1\n- nt2-2: NT2 niveau 2\n",
        "enum": [
          "secondary vocational education",
          "secondary vocational education 1",
          "secondary vocational education 2",
          "secondary vocational education 3",
          "secondary vocational education 4",
          "associate degree",
          "bachelor",
          "master",
          "doctoral",
          "undefined",
          "undivided",
          "nt2-1",
          "nt2-2"
        ],
        "example": "master"
      },
      "EducationSpecificationId": {
        "type": "object",
        "properties": {
          "educationSpecificationId": {
            "type": "string",
            "description": "Unique id for this education specification",
            "format": "uuid",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          }
        },
        "required": [
          "educationSpecificationId"
        ]
      },
      "educationSpecificationType": {
        "type": "string",
        "description": "The type of education specification\n  - program: HOOPLEIDING\n  - privateProgram: PARTICULIEREOPLEIDING\n  - programCluster: HOONDERWIJSEENHEDENCLUSTER\n  - course: HOONDERWIJSEENHEID\n",
        "enum": [
          "program",
          "privateProgram",
          "cluster",
          "course"
        ],
        "example": "program"
      },
      "formalDocument": {
        "type": "string",
        "description": "The type of formal document obtained after completion of this education\n  - diploma: DIPLOMA\n  - certificate: CERTIFICAAT\n  - no official document: GEEN OFFICIEEL DOCUMENT\n  - testimonial: GETUIGSCHRIFT\n  - school advice: SCHOOLADVIES\n",
        "enum": [
          "diploma",
          "certificate",
          "no official document",
          "testimonial",
          "school advice"
        ],
        "example": "diploma"
      },
      "EducationSpecification": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EducationSpecificationId"
          },
          {
            "$ref": "#/components/schemas/EducationSpecificationProperties"
          },
          {
            "properties": {
              "validFrom": {
                "description": "The first day this EducationSpecification is valid (inclusive).",
                "type": "string",
                "format": "date"
              },
              "validTo": {
                "description": "The day this EducationSpecification ceases to be valid (e.g. exclusive).",
                "type": "string",
                "format": "date"
              }
            }
          }
        ]
      },
      "EducationSpecificationProperties": {
        "type": "object",
        "description": "The specification of an education object. This specification allows for other education objects to be derived from it.\nIt is used to aggregate education objects from a supplying institution.\nIt clusters programs to a main educationSpecification that is used in registries such as RIO. \n",
        "required": [
          "primaryCode",
          "educationSpecificationType",
          "name"
        ],
        "properties": {
          "primaryCode": {
            "description": "The primary human readable identifier for the entity. \nThis will often take the form of a human readable code as defined by the institution or region\n",
            "$ref": "#/components/schemas/IdentifierEntry"
          },
          "otherCodes": {
            "type": "array",
            "description": "An array of additional human readable codes/identifiers for the entity being described.",
            "items": {
              "$ref": "#/components/schemas/IdentifierEntry"
            },
            "example": [
              {
                "codeType": "crohoCreboCode",
                "code": "1234123"
              }
            ]
          },
          "educationSpecificationType": {
            "$ref": "#/components/schemas/educationSpecificationType"
          },
          "name": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LanguageTypedString"
            },
            "description": "The name of this education specification",
            "example": [
              {
                "language": "en-GB",
                "value": "Bachelor Chemical technology"
              }
            ]
          },
          "abbreviation": {
            "type": "string",
            "description": "The abbreviation of this program",
            "maxLength": 256,
            "example": "B Scheikundige Technologie"
          },
          "description": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LanguageTypedString"
            },
            "description": "The description of this program. [The limited implementation of Git Hub Markdown syntax](#tag/formatting-and-displaying-results-from-API) MAY be used for rich text representation.",
            "example": [
              {
                "language": "en-GB",
                "value": "program that is a place holder for all courses that are made available for student mobility"
              }
            ]
          },
          "formalDocument": {
            "$ref": "#/components/schemas/formalDocument"
          },
          "level": {
            "$ref": "#/components/schemas/level"
          },
          "sector": {
            "$ref": "#/components/schemas/sector"
          },
          "levelOfQualification": {
            "$ref": "#/components/schemas/levelOfQualification"
          },
          "fieldsOfStudy": {
            "type": "string",
            "description": "Field(s) of study (e.g. ISCED-F) (http://uis.unesco.org/sites/default/files/documents/isced-fields-of-education-and-training-2013-en.pdf.",
            "maxLength": 4,
            "example": "0732"
          },
          "studyLoad": {
            "$ref": "#/components/schemas/StudyLoadDescriptor"
          },
          "learningOutcomes": {
            "type": "array",
            "description": "Statements that describe the knowledge or skills students should acquire by the end of a particular course or program (ECTS-learningoutcome).",
            "items": {
              "type": "array",
              "minItems": 1,
              "items": {
                "$ref": "#/components/schemas/LanguageTypedString"
              },
              "example": [
                {
                  "language": "en-GB",
                  "value": "Executable knowledge of Chemical technology, including: Acquire knowledge of research paradigms."
                }
              ]
            }
          },
          "link": {
            "type": "string",
            "description": "URL of the program's website",
            "format": "uri",
            "maxLength": 2048,
            "example": "https://bijvak.nl"
          },
          "parent": {
            "description": "The educationSpecification that is the parent of this educationSpecification if it exists. [`expandable`](#tag/education_specification_model)",
            "oneOf": [
              {
                "$ref": "#/components/schemas/Identifier",
                "title": "educationSpecificationId"
              },
              {
                "$ref": "#/components/schemas/EducationSpecification",
                "title": "EducationSpecification"
              }
            ]
          },
          "children": {
            "type": "array",
            "description": "The EducationSpecifications that have this EducationSpecification as their parent. [`expandable`](#tag/education_specification_model)",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Identifier",
                  "title": "educationSpecificationId"
                },
                {
                  "$ref": "#/components/schemas/EducationSpecification",
                  "title": "EducationSpecification"
                }
              ]
            }
          },
          "organization": {
            "description": "The organization that manages this group. [`expandable`](#tag/organization_model)\nBy default only the `organizationId` (a string) is returned. If the client requested an expansion of `organization` the full organization object should be returned.\n",
            "oneOf": [
              {
                "$ref": "#/components/schemas/Identifier",
                "title": "organizationId"
              },
              {
                "$ref": "#/components/schemas/Organization",
                "title": "Organization object"
              }
            ]
          },
          "consumers": {
            "description": "The additional consumer elements that can be provided, see the [documentation on support for specific consumers](https://openonderwijsapi.nl/#/technical/consumers-and-profiles/) for more information about this mechanism.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Consumer"
            },
            "example": [
              {
                "consumerKey": "rio",
                "educationSpecificationSubType": "variant",
                "category": [
                  "business_and_project_support",
                  "economy"
                ]
              }
            ]
          },
          "ext": {
            "$ref": "#/components/schemas/Ext"
          }
        }
      },
      "Program": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ProgramId"
          },
          {
            "$ref": "#/components/schemas/ProgramProperties"
          },
          {
            "properties": {
              "validFrom": {
                "description": "The first day this program is valid (inclusive).",
                "type": [
                  "string",
                  "null"
                ],
                "format": "date"
              },
              "validTo": {
                "description": "The day this program ceases to be valid (e.g. exclusive).",
                "type": [
                  "string",
                  "null"
                ],
                "format": "date"
              }
            }
          }
        ]
      },
      "PersonId": {
        "type": "object",
        "properties": {
          "personId": {
            "type": "string",
            "description": "Unique id of this person",
            "format": "uuid",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          }
        },
        "required": [
          "personId"
        ]
      },
      "personAffiliations": {
        "type": "array",
        "description": "The affiliations of this person, the relations a person has with the organization providing this endpoint\n- student: student\n- employee: medewerker\n- guest: gast\n",
        "items": {
          "type": "string",
          "enum": [
            "student",
            "employee",
            "guest"
          ],
          "example": "student"
        }
      },
      "gender": {
        "type": "string",
        "description": "The gender of this person",
        "enum": [
          "M",
          "F",
          "U",
          "X"
        ],
        "example": "F"
      },
      "ICERelationType": {
        "type": "string",
        "description": "Type of relation between person and In Case of Emergency contact",
        "enum": [
          "partner",
          "parent",
          "other"
        ],
        "example": "partner"
      },
      "PersonProperties": {
        "type": "object",
        "description": "A person that has a relationship with this institution",
        "required": [
          "givenName",
          "surname",
          "displayName",
          "affiliations",
          "mail",
          "primaryCode",
          "activeEnrollment"
        ],
        "properties": {
          "primaryCode": {
            "description": "The primary human readable identifier for the person. This is often the source identifier as defined by the institution.",
            "$ref": "#/components/schemas/IdentifierEntry",
            "example": {
              "codeType": "studentNumber",
              "code": 0
            },
            "readOnly": true
          },
          "givenName": {
            "type": "string",
            "description": "The first name of this person",
            "maxLength": 256,
            "example": "Maartje"
          },
          "surnamePrefix": {
            "type": "string",
            "description": "The prefix of the family name of this person",
            "example": "van"
          },
          "surname": {
            "type": "string",
            "description": "The family name of this person",
            "maxLength": 256,
            "example": "Damme"
          },
          "displayName": {
            "type": "string",
            "description": "The name of this person which will be displayed",
            "maxLength": 256,
            "example": "Maartje van Damme"
          },
          "initials": {
            "type": "string",
            "description": "The initials of this person",
            "example": "MCW"
          },
          "activeEnrollment": {
            "type": "boolean",
            "description": "Whether this person has an active enrollment.",
            "example": false
          },
          "dateOfBirth": {
            "type": "string",
            "description": "The date of birth of this person, RFC3339 (full-date)",
            "format": "date",
            "example": "2003-09-30"
          },
          "cityOfBirth": {
            "type": "string",
            "description": "The city of birth of this person",
            "example": "Utrecht"
          },
          "countryOfBirth": {
            "type": "string",
            "description": "The country of birth of this person the country code according to [iso-3166-1-alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)",
            "example": "NL"
          },
          "nationality": {
            "type": "string",
            "description": "The nationality of this person the nationality according to https://gist.github.com/zspine/2365808",
            "example": "Dutch"
          },
          "dateOfNationality": {
            "type": "string",
            "description": "The date of nationality of this person, RFC3339 (full-date)",
            "format": "date",
            "example": "2003-09-30"
          },
          "affiliations": {
            "$ref": "#/components/schemas/personAffiliations"
          },
          "mail": {
            "type": "string",
            "description": "The primary e-mailaddress of this person",
            "format": "email",
            "maxLength": 256,
            "example": "vandamme.mcw@universiteitvanharderwijk.nl"
          },
          "secondaryMail": {
            "type": "string",
            "description": "The secondary e-mailaddress of this person",
            "format": "email",
            "maxLength": 256,
            "example": "poekie@xyz.nl"
          },
          "telephoneNumber": {
            "type": "string",
            "description": "The telephone number of this person",
            "maxLength": 256,
            "example": "+31 123 456 789"
          },
          "mobileNumber": {
            "type": "string",
            "description": "The mobile number of this person",
            "maxLength": 256,
            "example": "+31 612 345 678"
          },
          "photoSocial": {
            "type": "string",
            "description": "The url of the informal picture of this person",
            "format": "uri",
            "maxLength": 2048,
            "example": "https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Placeholder_female_superhero_c.png/203px-Placeholder_female_superhero_c.png"
          },
          "photoOfficial": {
            "type": "string",
            "description": "The url of the official picture of this person",
            "format": "uri",
            "maxLength": 2048,
            "example": "https://upload.wikimedia.org/wikipedia/commons/6/66/Johannes_Vermeer_%281632-1675%29_-_The_Girl_With_The_Pearl_Earring_%281665%29.jpg"
          },
          "gender": {
            "$ref": "#/components/schemas/gender"
          },
          "titlePrefix": {
            "type": "string",
            "description": "A title prefix to be used for this person",
            "example": "drs"
          },
          "titleSuffix": {
            "type": "string",
            "description": "A title suffix to be used for this person",
            "example": "BSc"
          },
          "office": {
            "type": "string",
            "description": "The name of the office where this person is located"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "ICEName": {
            "type": "string",
            "description": "Full name of In Case of Emergency contact",
            "maxLength": 256,
            "example": "Janne"
          },
          "ICEPhoneNumber": {
            "type": "string",
            "description": "Phone number of In Case of Emergency contact",
            "maxLength": 256,
            "example": "+31 623 456 789"
          },
          "ICERelation": {
            "$ref": "#/components/schemas/ICERelationType"
          },
          "languageOfChoice": {
            "type": "array",
            "description": "The language(s) of choice for this person, RFC3066",
            "items": {
              "type": "string",
              "example": "nl-NL"
            }
          },
          "otherCodes": {
            "type": "array",
            "description": "An array of additional human readable codes/identifiers for the entity being described.",
            "items": {
              "$ref": "#/components/schemas/IdentifierEntry"
            },
            "example": [
              {
                "codeType": "nationalIdentityNumber",
                "code": "00000"
              }
            ]
          },
          "consumers": {
            "description": "The additional consumer elements that can be provided, see the [documentation on support for specific consumers](https://openonderwijsapi.nl/#/technical/consumers-and-profiles/) for more information about this mechanism.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Consumer"
            },
            "example": [
              {
                "consumerKey": "x-test-consumer",
                "additional": "custom",
                "attributes": "here"
              }
            ]
          },
          "ext": {
            "$ref": "#/components/schemas/Ext"
          }
        }
      },
      "Person": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PersonId"
          },
          {
            "$ref": "#/components/schemas/PersonProperties"
          }
        ]
      },
      "EduXchangeConsumerCourseEWUU": {
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "const": "ewuu"
          },
          "theme": {
            "type": [
              "string",
              "null"
            ],
            "description": "The theme of the Program or Course within the alliance.\n"
          },
          "themes": {
            "type": [
              "array",
              "null"
            ],
            "description": "An array with a list of themes.\n",
            "items": {
              "type": "string"
            }
          },
          "selection": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "A boolean indicating whether this Program or Course is selective, e.g. whether student need to pass extra requirements before being allowed to enroll.\n"
          },
          "type": {
            "type": [
              "string",
              "null"
            ],
            "description": "A string indicating whether a Program or Course is broadening or deepening.\n",
            "enum": [
              "broadening",
              "deepening"
            ]
          },
          "visibleForOwnStudents": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "A boolean value indicating whether this Program or Course should be visible for students of the offering institution.\n"
          },
          "enrollmentForOwnStudents": {
            "type": [
              "string",
              "null"
            ],
            "description": "A string indicating which enrollments process should be followed for students of the offering institution.\n",
            "enum": [
              "broker",
              "url"
            ]
          },
          "visibleForGuests": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "A boolean value indicating whether this Program or Course should be visible for students outside the partner institutions.\n"
          },
          "enrollmentForGuests": {
            "type": [
              "string",
              "null"
            ],
            "description": "A string indicating which enrollments process should be followed for students outside the partner institutions.\n",
            "enum": [
              "broker",
              "url"
            ]
          },
          "jointPartnerCodes": {
            "type": [
              "array",
              "null"
            ],
            "description": "An array with a list of themes.\n",
            "items": {
              "type": "string",
              "enum": [
                "uu",
                "wur",
                "tue"
              ]
            }
          },
          "source": {
            "type": [
              "object",
              "null"
            ],
            "description": "An optional object with a reference to the source of a Course or Program. In an alliance one of the institutions could act as overall coordinator and specifies the program and underlying courses. Underlying courses could be given at one of the other institutions. In this source object the course at the other institution can be specified.\n",
            "properties": {
              "shortName": {
                "type": "string",
                "description": "The shortName of the institution to identify the source institution.\n",
                "enum": [
                  "tue",
                  "wur",
                  "uu"
                ]
              },
              "primaryCode": {
                "type": "string",
                "description": "A string value with the primaryCode of the course to identify the source course.\n"
              },
              "uuid": {
                "type": "string",
                "format": "uuid",
                "description": "The uuid of the course to reference the OOAPI endpoint of the source course.\n"
              }
            }
          }
        }
      },
      "EduXchangeConsumerCourseLDE": {
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "const": "lde"
          },
          "theme": {
            "type": [
              "string",
              "null"
            ],
            "description": "The theme of the Program or Course within the alliance.\n",
            "enum": [
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19"
            ]
          },
          "themes": {
            "type": [
              "array",
              "null"
            ],
            "description": "An array with a list of themes.\n",
            "items": {
              "type": "string",
              "enum": [
                "10",
                "11",
                "12",
                "13",
                "14",
                "15",
                "16",
                "17",
                "18",
                "19"
              ]
            }
          },
          "selection": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "A boolean indicating whether this Program or Course is selective, e.g. whether student need to pass extra requirements before being allowed to enroll.\n"
          },
          "type": {
            "type": [
              "string",
              "null"
            ],
            "description": "A string indicating whether a Program or Course is broadening or deepening.\n",
            "enum": [
              "broadening",
              "deepening"
            ]
          },
          "visibleForOwnStudents": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "A boolean value indicating whether this Program or Course should be visible for students of the offering institution.\n"
          },
          "enrollmentForOwnStudents": {
            "type": [
              "string",
              "null"
            ],
            "description": "A string indicating which enrollments process should be followed for students of the offering institution.\n",
            "enum": [
              "broker",
              "url"
            ]
          },
          "visibleForGuests": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "A boolean value indicating whether this Program or Course should be visible for students outside the partner institutions.\n"
          },
          "enrollmentForGuests": {
            "type": [
              "string",
              "null"
            ],
            "description": "A string indicating which enrollments process should be followed for students outside the partner institutions.\n",
            "enum": [
              "broker",
              "url"
            ]
          },
          "jointPartnerCodes": {
            "type": [
              "array",
              "null"
            ],
            "description": "An array with a list of themes.\n",
            "items": {
              "type": "string",
              "enum": [
                "21PE",
                "21PF",
                "21PB"
              ]
            }
          },
          "source": {
            "type": [
              "object",
              "null"
            ],
            "description": "An optional object with a reference to the source of a Course or Program. In an alliance one of the institutions could act as overall coordinator and specifies the program and underlying courses. Underlying courses could be given at one of the other institutions. In this source object the course at the other institution can be specified.\n",
            "properties": {
              "shortName": {
                "type": "string",
                "description": "The shortName of the institution to identify the source institution.\n",
                "enum": [
                  "21PE",
                  "21PF",
                  "21PB"
                ]
              },
              "primaryCode": {
                "type": "string",
                "description": "A string value with the primaryCode of the course to identify the source course.\n"
              },
              "uuid": {
                "type": "string",
                "format": "uuid",
                "description": "The uuid of the course to reference the OOAPI endpoint of the source course.\n"
              }
            }
          }
        }
      },
      "EduXchangeConsumerCourseEUROTEQ": {
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "const": "euroteq"
          },
          "theme": {
            "type": [
              "string",
              "null"
            ],
            "description": "The theme of the Program or Course within the alliance.\n",
            "enum": [
              "Architecture and Construction",
              "Business and Economics",
              "Chemistry and Biology",
              "Computer Science and ICT, Data, AI",
              "Electrical Engineering",
              "Entrepreneurship",
              "Food and Health Sciences, Medical engineering",
              "Languages and Culture",
              "Manufacturing and Processing",
              "Mathematics and Statistics",
              "Mechanical Engineering",
              "Physics and Energy",
              "Transport",
              "Other subject area"
            ]
          },
          "themes": {
            "type": [
              "array",
              "null"
            ],
            "description": "An array with a list of themes.\n",
            "items": {
              "type": "string",
              "enum": [
                "Architecture and Construction",
                "Business and Economics",
                "Chemistry and Biology",
                "Computer Science and ICT, Data, AI",
                "Electrical Engineering",
                "Entrepreneurship",
                "Food and Health Sciences, Medical engineering",
                "Languages and Culture",
                "Manufacturing and Processing",
                "Mathematics and Statistics",
                "Mechanical Engineering",
                "Physics and Energy",
                "Transport",
                "Other subject area"
              ]
            }
          },
          "selection": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "A boolean indicating whether this Program or Course is selective, e.g. whether student need to pass extra requirements before being allowed to enroll.\n"
          },
          "type": {
            "type": [
              "string",
              "null"
            ],
            "description": "A string indicating whether a Program or Course is broadening or deepening.\n",
            "enum": [
              "broadening",
              "deepening"
            ]
          },
          "visibleForOwnStudents": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "A boolean value indicating whether this Program or Course should be visible for students of the offering institution.\n"
          },
          "enrollmentForOwnStudents": {
            "type": [
              "string",
              "null"
            ],
            "description": "A string indicating which enrollments process should be followed for students of the offering institution.\n",
            "enum": [
              "broker",
              "url"
            ]
          },
          "visibleForGuests": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "A boolean value indicating whether this Program or Course should be visible for students outside the partner institutions.\n"
          },
          "enrollmentForGuests": {
            "type": [
              "string",
              "null"
            ],
            "description": "A string indicating which enrollments process should be followed for students outside the partner institutions.\n",
            "enum": [
              "broker",
              "url"
            ]
          },
          "jointPartnerCodes": {
            "type": [
              "array",
              "null"
            ],
            "description": "An array with a list of themes.\n",
            "items": {
              "type": "string",
              "enum": [
                "tue",
                "taltech",
                "dtu",
                "lx",
                "ctu",
                "tum",
                "technion"
              ]
            }
          },
          "source": {
            "type": [
              "object",
              "null"
            ],
            "description": "An optional object with a reference to the source of a Course or Program. In an alliance one of the institutions could act as overall coordinator and specifies the program and underlying courses. Underlying courses could be given at one of the other institutions. In this source object the course at the other institution can be specified.\n",
            "properties": {
              "shortName": {
                "type": "string",
                "description": "The shortName of the institution to identify the source institution.\n",
                "enum": [
                  "tue",
                  "taltech",
                  "dtu",
                  "lx",
                  "ctu",
                  "tum",
                  "technion"
                ]
              },
              "primaryCode": {
                "type": "string",
                "description": "A string value with the primaryCode of the course to identify the source course.\n"
              },
              "uuid": {
                "type": "string",
                "format": "uuid",
                "description": "The uuid of the course to reference the OOAPI endpoint of the source course.\n"
              }
            }
          },
          "instructorNames": {
            "type": [
              "array",
              "null"
            ],
            "description": "An array with names of all instructors.\n",
            "items": {
              "type": "string"
            }
          },
          "contactHours": {
            "type": [
              "number",
              "null"
            ],
            "format": "float",
            "description": "A float with the amount of contact hours.\n"
          },
          "activities": {
            "type": [
              "string",
              "null"
            ],
            "description": "A string that mentions the activities that take place in the course.\n"
          },
          "modeOfDelivery": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "Online - at a specific time",
              "Online - time-independent",
              "Hybrid",
              "Blended"
            ]
          },
          "level": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "Bachelor",
              "Master",
              "Doctoral"
            ]
          }
        }
      },
      "EduXchangeConsumerCourseKOM": {
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "const": "kom"
          },
          "theme": {
            "type": [
              "string",
              "null"
            ],
            "description": "The theme of the Program or Course within the alliance.\n"
          },
          "themes": {
            "type": [
              "array",
              "null"
            ],
            "description": "An array with a list of themes.\n",
            "items": {
              "type": "string"
            }
          },
          "selection": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "A boolean indicating whether this Program or Course is selective, e.g. whether student need to pass extra requirements before being allowed to enroll.\n"
          },
          "type": {
            "type": [
              "string",
              "null"
            ],
            "description": "A string indicating whether a Program or Course is broadening or deepening.\n",
            "enum": [
              "broadening",
              "deepening"
            ]
          },
          "visibleForOwnStudents": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "A boolean value indicating whether this Program or Course should be visible for students of the offering institution.\n"
          },
          "enrollmentForOwnStudents": {
            "type": [
              "string",
              "null"
            ],
            "description": "A string indicating which enrollments process should be followed for students of the offering institution.\n",
            "enum": [
              "broker",
              "url"
            ]
          },
          "visibleForGuests": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "A boolean value indicating whether this Program or Course should be visible for students outside the partner institutions.\n"
          },
          "enrollmentForGuests": {
            "type": [
              "string",
              "null"
            ],
            "description": "A string indicating which enrollments process should be followed for students outside the partner institutions.\n",
            "enum": [
              "broker",
              "url"
            ]
          },
          "jointPartnerCodes": {
            "type": [
              "array",
              "null"
            ],
            "description": "An array with a list of partner codes.\n",
            "items": {
              "type": "string"
            }
          },
          "source": {
            "type": [
              "object",
              "null"
            ],
            "description": "An optional object with a reference to the source of a Course or Program. In an alliance one of the institutions could act as overall coordinator and specifies the program and underlying courses. Underlying courses could be given at one of the other institutions. In this source object the course at the other institution can be specified.\n",
            "properties": {
              "shortName": {
                "type": "string",
                "description": "The shortName of the institution to identify the source institution.\n",
                "enum": [
                  "tue",
                  "wur",
                  "uu"
                ]
              },
              "primaryCode": {
                "type": "string",
                "description": "A string value with the primaryCode of the course to identify the source course.\n"
              },
              "uuid": {
                "type": "string",
                "format": "uuid",
                "description": "The uuid of the course to reference the OOAPI endpoint of the source course.\n"
              }
            }
          }
        }
      },
      "EduXchangeConsumerCourse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Consumer"
          },
          {
            "properties": {
              "consumerKey": {
                "const": "eduxchange"
              },
              "alliances": {
                "type": "array",
                "description": "A list of alliances",
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/EduXchangeConsumerCourseEWUU"
                    },
                    {
                      "$ref": "#/components/schemas/EduXchangeConsumerCourseLDE"
                    },
                    {
                      "$ref": "#/components/schemas/EduXchangeConsumerCourseEUROTEQ"
                    },
                    {
                      "$ref": "#/components/schemas/EduXchangeConsumerCourseKOM"
                    }
                  ]
                }
              }
            }
          }
        ]
      },
      "ProgramProperties": {
        "type": "object",
        "description": "A collection of courses that lead to a certifiable learning outcome",
        "required": [
          "primaryCode",
          "programType",
          "name",
          "abbreviation",
          "description",
          "teachingLanguage",
          "level",
          "studyLoad",
          "consumers"
        ],
        "properties": {
          "primaryCode": {
            "description": "The primary human readable identifier for the program. This is often the source identifier as defined by the institution.",
            "$ref": "#/components/schemas/IdentifierEntry",
            "example": {
              "codeType": "programCode",
              "code": "BIO"
            },
            "readOnly": true
          },
          "programType": {
            "$ref": "#/components/schemas/programType"
          },
          "name": {
            "description": "The name of this program",
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/LanguageTypedString"
            },
            "example": [
              {
                "language": "en-GB",
                "value": "Biology"
              }
            ]
          },
          "abbreviation": {
            "type": "string",
            "description": "The abbreviation of this program",
            "maxLength": 256,
            "example": "BIO"
          },
          "description": {
            "type": "array",
            "description": "The description of this program",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/LanguageTypedString"
            },
            "example": [
              {
[...]
